In [1]:
import sqlite3
db=sqlite3.connect('empolyee.sqlite')

In [2]:
cur=db.cursor()
sql_query='Create table employee_details(employee_id int Primary key,Name Text,Age int,Salary Text)'
cur.execute(sql_query)

In [3]:
cur

In [4]:
cur.execute('Insert into employee_details values(100,"Rishabh",25,"500000")')

In [5]:
db.commit()

In [6]:
cur.execute('Insert into employee_details values(101,"Abishek",26,"600000")')
cur.execute('Insert into employee_details values(102,"Aman",24,"750000")')
db.commit()

In [7]:
cur.execute('Delete from employee_details where employee_id=101')
db.commit()

In [8]:
value=102
cur.execute('Delete from employee_details where employee_id=?',(value,))
db.commit()

In [11]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=['50000','60000','85000','75000','50000','90000','85000','90000','60000','50000','75000','50000']
for i in range(len(employee_id)):
    cur.execute('Insert into employee_details values(?,?,?,?)',(employee_id[i],name[i],age[i],salary[i]))
db.commit()